.signup-wrapper {
  width: 70%;
  height: auto;
  max-width: 450px;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.signUp-header {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.p-login {
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
