.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0rem;
  color: var(--theme);
  border: 1px solid var(--theme);
  background-color: var(--white);
  cursor: pointer;
  border-radius: 0.25rem;
  height: auto;
  font-size: 0.8rem;
}

.btn-blue {
  background-color: var(--theme);
  color: var(--white);
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--theme);
  color: var(--white);
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: var(--white);
  color: var(--theme);
  transition: all 0.3s;
}
