.navbar-menu {
  background-color: var(--theme);
  padding: 1rem 1.5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logo {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

.link {
  opacity: 0.7;
  cursor: pointer;
}

.link:hover {
  opacity: 1;
  transition: all 0.3s;
}

.navbar-side-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-headers {
  margin: 0;
  font-weight: bold;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.nav-headers:hover {
  opacity: 1;
  transition: all 0.3s;
}

@media only screen and (max-width: 500px) {
  .navbar-menu {
    padding: 0.5rem 0.5rem;
  }

  .navbar-side-panel {
    font-size: 12px;
    gap: 10px;
  }
  .logo {
    font-size: 0.5rem;
  }
}
